.all-orders {
    font-size: larger;
    padding-left: 1.25rem;
}
.past-orders {
    font-size: larger;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
}
.order-table-container {
    overflow-x:auto;
}
.order-table{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.order-table-header>th {
    color: white;
    background-color: #303030;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
  
}
.order-details>td {
    padding:  1.25rem;
    text-align: left;
    max-width: 1.5rem;
}
.order-item-table{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.order-category{
    background-color: lightgray;
}
.order-category>td {
    padding: 1rem;
    text-align: left;
}
.order-item>th {
    background-color: cornflowerblue;
    padding: 1rem;
    text-align: left;
    color: white;
}


