.all-orders {
    font-size: larger;
    padding-left: 1.25rem;
}
.past-orders {
    font-size: larger;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
}
.order-table {
    width: 50%;
    table-layout: auto;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    
}
.order-table-header>th {
    color: white;
    background-color: #303030;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
  
}
.order-details>td{
    padding: 1rem;
    text-align: left;
}


.order-item-container {
    overflow-x:auto;
    margin-bottom: 3rem;
}

.order-item-table{
    width: 50%;
    table-layout: auto;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
   
}
.order-category{
    background-color: lightgray;
}
.order-category>td {
    padding: 1rem;
    text-align: left;
}
.order-item>th {
    background-color: cornflowerblue;
    padding: 1rem;
    text-align: left;
    color: white;
}
.order-item-total>td {
    padding: 1rem;
    text-align: left;

}


