.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    height: 450px;
    text-align: center;
    margin: 10px;
}
img {
    width: 100%;
    height: 40%;
  
}
.basket {
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 30%;
    background-color: linen;
 }
