.home {
    margin: 1rem;
}

.home-category {
    padding: 0 0 0.5rem 0;
}
.home-category-row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 24rem){
    .home-category-row  {
        justify-content: center;
    }
    .home-category {
        text-align: center;
    }
}